*,
*:before,
*:after {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

#filter {
  border: 1px solid #999;
  border-radius: 0;
  width: 10%;
}
button {
  width: 10%;
  cursor: pointer;
  background-color: transparent;
  transition-duration: 0.2s;
  border: 2px solid #999;
}
button:hover {
  background-color: #999;
}

.movie {
  display: block;
  width: 30%;
  align-content: center;
  margin: 0 20px;
  font-size: 1rem;
}
.movie_rec {
  font-size: 0.8rem;
  margin-left: 10px;
}
#movie ul {
  list-style-type: circle;
  font-size: 1rem;
}
h1 {
  margin: 10px;
  font-weight: 400;
}
h2,
h3 {
  margin: 10px;
}

img {
  max-width: 15%;
  height: auto;
  border-radius: 5px;
}
a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}
p {
  font-size: 0.9rem;
  width: 20%;
}
